/** 
Rectangle design**/

@media only screen and (min-width:1001px) {
    

    .mkh5{
        display:none;
    }
.teamname{
    display: none;
}

.m2012{
font-family: 'urbanist';
color:#fff  ;
padding:  5px 10px 5px 12px;
font-size:16px ;
}
.m2015{
    font-family: 'urbanist';
    color:#fff  ;
    text-align:left;
  padding: 10px 9px 0px 15px;

    z-index: -1;
    font-size: 16px;
    


    }
 .m2018{
        font-family: 'urbanist';
      color:#fff  ;
     
      padding:0px 0px 6px 7px;
        margin-top: 10px;
        z-index: -1;
        font-size: 16px;

    
    }
        
.m2020{
            font-family: 'urbanist';
          color:#fff  ;
            margin-top: 5px;
            text-align:left;
            margin-left: 5px;
            z-index: -1;
            font-size: 16px;
            padding:5px 10px 5px 12px;



}
.m2023{
    font-family: 'urbanist';
  color:#fff  ;
    text-align:left;
    margin-top: 22px;
    margin-left: 5px;
    z-index: -1;
    font-size: 16px;
    padding:0px 8px 6px 13px


    }

.rr{
    margin-top: 55px;
}
.r1{
    width: 680px;
height: 12px;
flex-shrink: 0;
margin-left: -10px;
margin-bottom: 10px;
background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);

}

.r2{
    width: 338px;
    height: 12px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 50.52%, rgba(250, 243, 255, 0.00) 100%);
    margin-left: -10px;
    margin-bottom: 10px;

}
.r3{
    width: 179px;
height: 12px;
margin-left: -10px;

flex-shrink: 0;
background: linear-gradient(90deg, #A634FF 0%, rgba(205, 142, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);
}

.r4{
    width: 179px;
    height: 12px;
    flex-shrink: 0;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #A634FF 0%, rgba(196, 122, 255, 0.33) 44.79%, rgba(250, 243, 255, 0.00) 100%);
}
.r5{
    width: 338px;
    height: 12px;
    margin-bottom: 10px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 50.52%, rgba(250, 243, 255, 0.00) 100%);

}
.r6{
    width: 687px;
height: 12px;
flex-shrink: 0;
background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);
}
.lr{
    transform: scaleX(-1);
    margin-right: 0px;
}


.aboutus{
text-align: center;
align-items: center;
    position: relative;
    color: #FFF;
font-family: 'Urbanist',sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.aboutusbl{
position:absolute;
    width: 200px;
height: 40px;
flex-shrink: 0;
left: 566px;
top: 10px;
opacity:45%;
fill: rgba(235, 249, 255, 0.05);
filter: blur(35px);
}
/**ratius effect**/

.rb1{
    width: 332px;
    position: absolute;
height:  332px;
flex-shrink: 0;
border-radius: 332px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(194.5px);
margin-left: 444px;
top: 141px;
}
.border1{
    width: 330px;
    height: 330px;
    border-radius: 20px;
    margin-left: 160px;
}
.abhed{
    color: #ee9d11;
font-family: 'Urbanist',sans-serif;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.abpa{
    color: #FFF;
font-family: 'Urbanist', sans-serif;
font-size: 20px;
font-style: normal;

line-height: 36px;
width: 466px;
height: 300px;
flex-shrink: 0;
}
.border2{
    width: 330px;
    height: 330px;
    border-radius: 20px;
    margin-left: 14px;
}
.ourjt2{
    color: #ee9d11;
font-family: 'Urbanist';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
}
svg{
    position: absolute;
    margin-left: 5px;
    z-index: -1;
    width:95%;
}
/**poinds**/
.poind1{
    width: 5px;
    height: 5px;
    flex-shrink: 0;
    margin-top: 17px;
    position: absolute;
    font-family:' Urbanist';  
color: #FFF;  
margin-left: 25px;
   

}
.poind2{
    width: 21px;
height: 21px;
flex-shrink: 0;
margin-left: 280px;
margin-top: 6px;
position: absolute;
font-family:' Urbanist';  
color: #FFF;  
   

}
.poind3{
    width: 21px;
height: 21px;
flex-shrink: 0;
margin-left: 580px;
margin-top:-7px ;
position: absolute;
font-family:' Urbanist';  
color: #FFF;  
}

.poind4{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    margin-left: 880px;
    color: #FFF;
    font-family:' Urbanist';    
    position: absolute;
    margin-top: -18px;
}
.poind5{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    margin-left: 1250px;
    margin-top: -35px;
    position: absolute;
    color: #FFF;
font-family:' Urbanist';
}

.ourtm2{
    color: #ee9d11;
font-family: Urbanist;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

text-align: center;
}

.ourj{margin-left: 5px;}
.mkh{
    border-radius: 26px;
border: 2px solid rgba(255, 255, 255, 0.22);
background: rgba(255, 255, 255, 0.06);
box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
backdrop-filter: blur(4px);
width: 329px;
height: 359px;
flex-shrink: 0;
margin-left: 96px;
color: #FFF;
font-family: 'Urbanist';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.img1{
    width: 327px;
    margin-left:-13px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 26px  26px 0% 0%;
    
}
.mkd{
    border-radius: 26px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    width: 329px;
    height: 359px;
    flex-shrink: 0;
    margin-left: 86px;
    color: #FFF;
    font-family: 'Urbanist';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 85px;
}
.des1{
    border-radius: 681px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(187px);
width: 681px;
height: 681px;
flex-shrink: 0;
position: absolute;
margin-left: 1000px;
margin-top: 77px;
z-index: -1;
}
.des2{
    
width: 681px;
height: 681px;
flex-shrink: 0;
border-radius: 681px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(187px);
position: absolute;
z-index: -1;
margin-top: 170px;
margin-left: -480px;
}
.des3{
    width: 681px;
height: 681px;
flex-shrink: 0;
border-radius: 681px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(187px);
position: absolute;
z-index: -1;
margin-left: 1100px;
margin-top: 15px;
}
.des4{
    width: 681px;
height: 681px;
flex-shrink: 0;
border-radius: 681px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(187px);
position: absolute;
z-index: -1;
margin-left: -480px;
margin-top: 20px;
}
.animation{
    width: 10px;
    height: 10px;
    
    position: absolute;
    animation: mymove 30s infinite;
  }
  
  @keyframes mymove {
    from {left: 0px; top:2090px;}
    
    to {left: 1275px;top: 2038px;}
  }
 .mad1{

    height: 30px;
    width: 40px;
    position:absolute;
    margin-top: 70px;
    color: #FFF;
    font-family:' Urbanist';
 }
 .mad1{

    height: 114px;
    width: 160px;
    position:absolute;
    margin-top: 107px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    font-family: 'urbanist';
    color: #FFF;
    overflow: hidden;
    transition: scale 400ms; 
 }
 .mad1:hover{
    scale: 120%;
    font-family: 'urbanist';
    
 }
 .mad2:hover{
    scale: 120%;
    font-family: 'urbanist';
 }
 .mad3:hover{
    scale: 120%;
    font-family: 'urbanist';
 }
 .mad4:hover{
    scale: 120%;
    font-family: 'urbanist';
 }
 .mad5:hover{
    scale: 120%; 
     font-family: 'urbanist';
  
 }
 
 .mad2{

    height: 130px;
    width: 187px;
    position:absolute;
    margin-top: 90px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    font-family: 'urbanist';
    overflow: hidden;
    transition: scale 400ms; 

 }
 .mad3{

    height: 148px;
    width: 200px;
    margin-left: -14px;
    position:absolute;
    margin-top: 85px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    font-family: 'urbanist';
    overflow: hidden;
    transition: scale 400ms; 

 }
 .mad4{

    height: 165px;
    width: 192px;
    position:absolute;
    margin-top: 78px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    font-family: 'urbanist';
    overflow: hidden;
    transition: scale 400ms; 
    margin-left: -42px;

 }
 .mad5{

    height: 160px;
    width: 215px;
    position:absolute;
    margin-left: -145px;
    margin-top: 95px;
    border-radius: 12px;
border: 2px solid rgba(255, 255, 255, 0.22);
background: rgba(255, 255, 255, 0.20);
box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
backdrop-filter: blur(4px);
font-family: 'urbanist';
 overflow: hidden;
    transition: scale 400ms; 

 }

 .cards{
    display: none;
 }
 .p1{
    font-size: 15px;
    font-family: 'urbanist';
    color: #FFF;
    padding-left: 5px;
    margin-top: 5px;
 }

.name{
    color: #FFF;
    font-family: 'urbanist';
    margin-top: 10px;
    text-align: center;
}
.desi{
    color: #FFF;
    font-family: 'urbanist';
    margin-top: 10px;
    text-align: center;
} 
.mmm1{
    display: none;


}
.bc{
    display: none;
}
.bc1{
    display:none ;
}
.mkh2{
    display: none;
}

}  





@media only screen and (max-width:500px) {
    body{
        overflow-x: hidden;
    }
    #prblm3{
        display: none;
    }
.rr{
    margin-top: 27px;
}
.r1{
    width: 340px;
height: 6px;
flex-shrink: 0;
margin-left: -5px;
margin-bottom: 5px;
background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);

}

.r2{
    width: 175px;
    height: 6px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 50.52%, rgba(250, 243, 255, 0.00) 100%);
    margin-left: -5px;
    margin-bottom: 5px;

}
.r3{
    width: 89px;
height: 6px;
margin-left: -5px;

flex-shrink: 0;
background: linear-gradient(90deg, #A634FF 0%, rgba(205, 142, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);
}

.r4{
    width: 89px;
    height: 6px;
    flex-shrink: 0;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #A634FF 0%, rgba(196, 122, 255, 0.33) 44.79%, rgba(250, 243, 255, 0.00) 100%);
}
.r5{
    width: 176px;
    height: 6px;
    margin-bottom: 5px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 50.52%, rgba(250, 243, 255, 0.00) 100%);

}
.r6{
    width: 345px;
height: 6px;
flex-shrink: 0;
background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);
}
.lr{
    transform: scaleX(-1);
    margin-right: 0px;
}

.aboutus{
    margin-left: 160px;
    position: relative;
    color: #FFF;
font-family: 'Urbanist',sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
} 
.aboutusbl{
    position:absolute;
        width: 70px;
    height: 20px;
    flex-shrink: 0;
    left: 0px;
    top: 5px;
    opacity:45%;
    fill: rgba(235, 249, 255, 0.05);
    filter: blur(35px);
    margin-left: 160px;
    }  
    
.rb1{
    width: 240px;
    position: absolute;
height:  332px;
flex-shrink: 0;
border-radius: 332px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(194.5px);
margin-left: 160px;
top: 141px;
display: flex;
overflow-x: hidden;
}

.border1{
    width: 208px;
    height: 202px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-left: 96px;
    margin-top: 30px;
    text-align: center;
  
}
.abhed{
    color: #ee9d11;
font-family: 'Urbanist',sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 20px;
text-align: center;
margin-top: 40px

}
.abpa{
    color: #FFF;
font-family: 'Urbanist';
font-size: 17px;
font-style: normal;
margin-top: 30px;
line-height: 36px;
width: 300px;
height: 150px;
flex-shrink: 0;
margin-left: 40px;
text-align: left;
padding-left: 10px;
}
.brakebr{
    display:none;
}
.mmm2{
    display: none;
}
.bc{
    display: inline-flex;
padding: 10px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
background-color: #FF8100;
margin-left: 130px;
margin-top: 59px;

}

.border2{
    width: 208px;
    height: 202px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-left: 96px;
    margin-top: 50px;
    text-align: center;
  
}

.bc1{
    display: inline-flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background-color: #FF8100;
    margin-left: 58px;
    margin-top: 30px;
    width: 181px;
    
}
.ourjt2{
 display: none;
}
svg{
    display: none;
}
.mad1{

    display: none;
 }
 .mad1{

    display: none;
 }
 .mad2{

    display: none;
 }
 .mad3{
    display: none;
 }
 .mad4{

    display: none;
 }
 .mad5{
    display: none;
 }
 .poind1{
    display: none;
   

}
.poind2{
    display: none;

}
.poind3{
    display: none;

}

.poind4{
    display: none;
}
.poind5{
    display: none;
}

.animation{
    display: none;
  }
  .ourtm2{
    color: #ee9d11;
font-family: Urbanist;
font-size: 22px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: -9px;
margin-top: -400px;
text-align: center;
}
.mkh2{
    border-radius: 26px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    width: 329px;
    height: 359px;
    flex-shrink: 0;
    margin-left: 40px;
    color: #FFF;
    font-family: 'Urbanist';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 85px;
} 

.container1{
    display: none;
}

.img1{
    
        width: 270px;
        margin-left:-13px;
        height: auto;
        flex-shrink: 0;
        border-radius: 26px  26px 0% 0%;
        
}
.cards{
    border-radius: 12px;
border: 2px solid rgba(255, 255, 255, 0.22);
border: 2px solid color(display-p3 1 1 1 / 0.22);
background: rgba(255, 255, 255, 0.06);
background: color(display-p3 1 1 1 / 0.06);
box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
box-shadow: 15px -10px 17px 16px color(display-p3 1 1 1 / 0.02) inset;
backdrop-filter: blur(4px);
width: 200px;
height: 230px;
margin-left: 102px;
}
.img1{
    width: 100%;
    margin-left:-4 px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 12px  12px 0% 0%;
}

.name{
    color: #FFF;
    font-family: 'urbanist';
    margin-top: 10px;
    text-align: center;
}
.desi{
    color: #FFF;
    font-family: 'urbanist';
    margin-top: 10px;
    text-align: center;
} 
body{
    overflow-x: hidden;
}
.mkh5{
    border-radius: 12px  12px;
border: 2px solid rgba(255, 255, 255, 0.22);
border: 2px solid color(display-p3 1 1 1 / 0.22);
background: rgba(255, 255, 255, 0.06);
background: color(display-p3 1 1 1 / 0.06);
box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
box-shadow: 15px -10px 17px 16px color(display-p3 1 1 1 / 0.02) inset;
backdrop-filter: blur(4px);
width: 270px;
}
.teamname{
    margin-top: -70px;
    margin-left: 70px;
}
.carousel-item{
    border-radius: 12px  12px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    border: 2px solid color(display-p3 1 1 1 / 0.22);
    background: rgba(255, 255, 255, 0.06);
    background: color(display-p3 1 1 1 / 0.06);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    box-shadow: 15px -10px 17px 16px color(display-p3 1 1 1 / 0.02) inset;
    backdrop-filter: blur(4px);
    width: 270px;
}


.des4{
    width: 681px;
height: 681px;
flex-shrink: 0;
border-radius: 681px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(187px);
position: absolute;
z-index: -1;
margin-left: -480px;
margin-top: 20px;
overflow-x: hidden;
}
.des2{
    
    width: 681px;
    height: 681px;
    flex-shrink: 0;
    border-radius: 681px;
    background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
    filter: blur(187px);
    position: absolute;
    z-index: -1;
    margin-top: 170px;
    margin-left: -480px;
    overflow-x: hidden;
    }

body{
    overflow-x: hidden;
}
}


                                                             /**             mobile view 3**/

@media only screen and (max-width:1000px) and (min-width:501px) {
    
 
    .mkh5{
        display:none;
    }
.teamname{
    display: none;
}

.m2012{
font-family: 'urbanist';
color:#fff  ;
padding:  5px 10px 5px 12px;
font-size:14px ;
}
.m2015{
    font-family: 'urbanist';
    color:#fff  ;
    text-align:left;
  padding:  5px 10px 5px 12px;

    z-index: -1;
    font-size: 14px;
    


    }
 .m2018{
        font-family: 'urbanist';
      color:#fff  ;
     
      padding:0px 0px 6px 7px;
        margin-top: 10px;
        z-index: -1;
        font-size: 14px;

    
    }
        
.m2020{
            font-family: 'urbanist';
          color:#fff  ;
            margin-top: 5px;
            text-align:left;
            margin-left: 5px;
            z-index: -1;
            font-size: 14px;
            padding:5px 10px 5px 12px;



}
.m2023{
    font-family: 'urbanist';
  color:#fff  ;
    text-align:left;
    margin-top: 9px;
    margin-left: 5px;
    z-index: -1;
    font-size: 14px;
    padding:0px 7px 5px 9px;


    }

.rr{
    margin-top: 55px;
}
.r1{
    width: 680px;
height: 12px;
flex-shrink: 0;
margin-left: -10px;
margin-bottom: 10px;
background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);

}

.r2{
    width: 338px;
    height: 12px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 50.52%, rgba(250, 243, 255, 0.00) 100%);
    margin-left: -10px;
    margin-bottom: 10px;

}
.r3{
    width: 179px;
height: 12px;
margin-left: -10px;

flex-shrink: 0;
background: linear-gradient(90deg, #A634FF 0%, rgba(205, 142, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);
}

.r4{
    width: 179px;
    height: 12px;
    flex-shrink: 0;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #A634FF 0%, rgba(196, 122, 255, 0.33) 44.79%, rgba(250, 243, 255, 0.00) 100%);
}
.r5{
    width: 338px;
    height: 12px;
    margin-bottom: 10px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 50.52%, rgba(250, 243, 255, 0.00) 100%);

}
.r6{
    width: 687px;
height: 12px;
flex-shrink: 0;
background: linear-gradient(90deg, #A634FF 0%, rgba(228, 143, 255, 0.29) 47.40%, rgba(250, 243, 255, 0.00) 100%);
}
.lr{
    transform: scaleX(-1);
    margin-right: -793px;
}


.aboutus{
margin-left: 800px;
    position: relative;
    color: #FFF;
font-family: 'Urbanist',sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.aboutusbl{
position:absolute;
    width: 200px;
height: 40px;
flex-shrink: 0;
left: -10px;
top: 10px;
opacity:45%;
fill: rgba(235, 249, 255, 0.05);
filter: blur(35px);
}
/**ratius effect**/

.rb1{
    width: 332px;
    position: absolute;
height:  332px;
flex-shrink: 0;
border-radius: 332px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(194.5px);
margin-left: 444px;
top: 141px;
}
.border1{
    width: 330px;
    height: 330px;
    border-radius: 20px;
    margin-left: 650px;
    margin-top: -125;
}
.abhed{
    color: #ee9d11;
font-family: 'Urbanist',sans-serif;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 190px;
margin-top: 15px;
}
.abpa{
    color: #FFF;
font-family: 'Urbanist', sans-serif;
font-size: 22px;
font-style: normal;
margin-left: 190px;
line-height: 36px;
width: 468px;
height: 300px;
flex-shrink: 0;
}
.border2{
    width: 330px;
    height: 330px;
    border-radius: 20px;
    margin-left: 160px;
}
.abpa2{

margin-left: 608px;

}
.ourjt2{
    color: #ee9d11;
font-family: 'Urbanist';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 750px;
}
svg{
    position: absolute;
    margin-left: 5px;
    z-index: -1;
    width:95%;
}
/**poinds**/
.poind1{
    width: 5px;
    height: 5px;
    flex-shrink: 0;
    margin-top: 17px;
    position: absolute;
    font-family:' Urbanist';  
color: #FFF;  
margin-left: 25px;
   

}
.poind2{
    width: 21px;
height: 21px;
flex-shrink: 0;
margin-left: 280px;
margin-top: 6px;
position: absolute;
font-family:' Urbanist';  
color: #FFF;  
   

}
.poind3{
    width: 21px;
height: 21px;
flex-shrink: 0;
margin-left: 580px;
margin-top:-7px ;
position: absolute;
font-family:' Urbanist';  
color: #FFF;  
}

.poind4{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    margin-left: 880px;
    color: #FFF;
    font-family:' Urbanist';    
    position: absolute;
    margin-top: -18px;
}
.poind5{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    margin-left: 1250px;
    margin-top: -35px;
    position: absolute;
    color: #FFF;
font-family:' Urbanist';
}

.ourtm2{
    color: #ee9d11;
font-family: Urbanist;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

text-align: center;
}

.ourj{margin-left: 5px;}
.mkh{
    border-radius: 26px;
border: 2px solid rgba(255, 255, 255, 0.22);
background: rgba(255, 255, 255, 0.06);
box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
backdrop-filter: blur(4px);
width: 329px;
height: 359px;
flex-shrink: 0;
margin-left: 96px;
color: #FFF;
font-family: 'Urbanist';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.img1{
    width: 327px;
    margin-left:-13px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 26px  26px 0% 0%;
    
}
.mkd{
    border-radius: 26px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    width: 329px;
    height: 359px;
    flex-shrink: 0;
    margin-left: 86px;
    color: #FFF;
    font-family: 'Urbanist';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 85px;
}
.des1{
    border-radius: 681px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(187px);
width: 681px;
height: 681px;
flex-shrink: 0;
position: absolute;
margin-left: 1000px;
margin-top: 77px;
z-index: -1;
}
.des2{
    
width: 681px;
height: 681px;
flex-shrink: 0;
border-radius: 681px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(187px);
position: absolute;
z-index: -1;
margin-top: 170px;
margin-left: -480px;
}
.des3{
    width: 681px;
height: 681px;
flex-shrink: 0;
border-radius: 681px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(187px);
position: absolute;
z-index: -1;
margin-left: 1100px;
margin-top: 15px;
}
.des4{
    width: 681px;
height: 681px;
flex-shrink: 0;
border-radius: 681px;
background: linear-gradient(180deg, #AA435C 0%, rgba(170, 67, 92, 0.00) 100%);
filter: blur(187px);
position: absolute;
z-index: -1;
margin-left: -480px;
margin-top: 20px;
}
.animation{
    width: 10px;
    height: 10px;
    
    position: absolute;
    animation: mymove 30s infinite;
  }
  
  @keyframes mymove {
    from {left: 0px; top:2090px;}
    
    to {left: 1275px;top: 2038px;}
  }
 .mad1{

    height: 30px;
    width: 40px;
    position:absolute;
    margin-top: 70px;
    color: #FFF;
    font-family:' Urbanist';
 }
 .mad1{

    height: 114px;
    width: 160px;
    position:absolute;
    margin-top: 97px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    font-family: 'urbanist';
    color: #FFF;
    overflow: hidden;
    transition: scale 400ms; 
 }
 .mad1:hover{
    scale: 120%;
    font-family: 'urbanist';
    
 }
 .mad2:hover{
    scale: 120%;
    font-family: 'urbanist';
 }
 .mad3:hover{
    scale: 120%;
    font-family: 'urbanist';
 }
 .mad4:hover{
    scale: 120%;
    font-family: 'urbanist';
 }
 .mad5:hover{
    scale: 120%; 
     font-family: 'urbanist';
  
 }
 
 .mad2{

    height: 130px;
    width: 177px;
    position:absolute;
    margin-top: 95px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    font-family: 'urbanist';
    overflow: hidden;
    transition: scale 400ms; 

 }
 .mad3{

    height: 148px;
    width: 200px;
    margin-left: -14px;
    position:absolute;
    margin-top: 95px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    font-family: 'urbanist';
    overflow: hidden;
    transition: scale 400ms; 

 }
 .mad4{

    height: 165px;
    width: 192px;
    position:absolute;
    margin-top: 89px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.22);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    font-family: 'urbanist';
    overflow: hidden;
    transition: scale 400ms; 
    margin-left: -42px;

 }
 .mad5{

    height: 203px;
    width: 215px;
    position:absolute;
    margin-left: -145px;
    margin-top: 76px;
    border-radius: 12px;
border: 2px solid rgba(255, 255, 255, 0.22);
background: rgba(255, 255, 255, 0.20);
box-shadow: 15px -10px 17px 16px rgba(255, 255, 255, 0.02) inset;
backdrop-filter: blur(4px);
font-family: 'urbanist';
 overflow: hidden;
    transition: scale 400ms; 

 }

 .cards{
    display: none;
 }
 .p1{
    font-size: 15px;
    font-family: 'urbanist';
    color: #FFF;
    padding-left: 5px;
    margin-top: 5px;
 }

.name{
    color: #FFF;
    font-family: 'urbanist';
    margin-top: 10px;
    text-align: center;
}
.desi{
    color: #FFF;
    font-family: 'urbanist';
    margin-top: 10px;
    text-align: center;
} 
.mmm1{
    display: none;


}
.bc{
    display: none;
}
.bc1{
    display:none ;
}
.mkh2{
    display: none;
}
}