<div class="hello">
    <br>
    <br>
<div class="rr">
<div class="r1"></div><br>
<div class="r2"></div><br>
<div class="r3"></div><br>
</div>
<div class="rb1"></div>
<h1 class="aboutus">About Us <img class="aboutusbl" src="../assets/pngegg (1).png" >    </h1>
<br>
<br>
<div class="lr">
   <div class="r4" ></div><br>
   <div class="r5" ></div><br>
   <div class="r6" ></div><br>
</div>
</div> <div class="brakebr">
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br></div>
<div class="container ">
    <div class="row">
      <div class="col-sm-6 mmm1">
        <h1 class="abhed">Sigma 4 Solutions</h1>

        <img class="border1" src="../assets/WhatsApp Image 2023-08-30 at 6.06.13 PM.jpeg">
      </div>
      <div class="col-sm-6">
        <div class="des1"></div>
        <h1 class="abhed mmm2">Sigma4Solutions</h1>
        <p class="abpa">Welcome to Sigma4Solutions! Sigma4Solutions is a
            leading ITES company established in 2012. Our team is
            committed to providing you with exceptional services,
            placing a strong emphasis on data security, premium
            quality, and efficient turnaround time.       </p>
           
           
      </div>
      <div class="col-md-6  mmm2">
        <img class="border1" src="../assets/WhatsApp Image 2023-08-30 at 6.06.13 PM.jpeg">
      </div>
   </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div>
<div class="container ">
    <div class="row">
        <div class="des2"></div>
      <div class="col-sm-6 ">
               <button mat-button class="bc">Contact us</button>
        <img class="border2" src="../assets/vision.jpg">      
      </div>
      <br> <br> <br>  <br>  <br>  <br>  <br>
      <div class="col-sm-6">
        <div class="topic2"></div>
        <p class="abpa abpa2"><span style="color: #ee9d11; font-weight: bold;" >Vision:</span> To be a leading IT/ITES company globally,
          renowned for our cutting-edge technology
          solutions,client-centric approach and
          commitment to driving digital excellence
          in every industry we serve.
         <br><span  style="color: #ee9d11;font-weight: bold;" >Mission:</span> To empower businesses through innovative
IT/ITES solutions, delivering exceptional
value and driving their digital
transformation for sustainable growth and
success.
<button mat-button class="bc1">Get A Free Quote</button>

        </p>  </div>    </div>
   </div>
<br>

<br> 
<br> <br><br> <br> <br>  <br>  <br>  <br>  <br> <br><br><br> 
<br>
<div>
   <div class="ourj">
     <h1 class="ourjt2">OurJourney</h1>
    
 <br>  <br> <br>  <br>  <br>  <br>  <br> <br>
  <svg xmlns="http://www.w3.org/2000/svg" width="1292" height="62" viewBox="0 0 1292 62" fill="none">
    <path d="M0.308004 57.7363L1291.04 -0.000466809L1291.5 11.9906L0.462006 61.7333L0.308004 57.7363Z" fill="url(#paint0_linear_290_321)"/>
    <defs>
      <linearGradient id="paint0_linear_290_321" x1="9.49997" y1="61.9994" x2="1328.5" y2="-0.00048673" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D9D9D9" stop-opacity="0"/>
        <stop offset="0.0001" stop-color="#E6C6FF" stop-opacity="0.09"/>
        <stop offset="0.213542" stop-color="#E2BDFF" stop-opacity="0.402753"/>
        <stop offset="0.510417" stop-color="#C881FF" stop-opacity="0.628204"/>
        <stop offset="0.760417" stop-color="#AC42FF" stop-opacity="0.818057"/>
        <stop offset="1" stop-color="#A337F7"/>
      </linearGradient>
    </defs>
  </svg>
  <div class="animation"><img src="../assets/Group 65.png"></div>
  <div class="des3"></div>
  <div class="poind1"><mat-card class="mad1"><p class="m2012" >  Embarked on our journey by establishing a digital publishing platform.</p></mat-card>2012<!--<img src="../assets/Group 65.png">--></div>  
  <div class="poind2"><mat-card class="mad2"><p class="m2015" > our beginnings with the initiation of our project, specializing in Epub, XML, and Data Conversion services.</p></mat-card>2015<!--<img src="../assets/Group 65.png">--> </div> 
  <div class="poind3"><mat-card class="mad3"><p class="m2018" >Over time, our reach and formed partnerships with numerous direct clients and publishers, solidifying our position in the industry.</p></mat-card>2018<!--<img src="../assets/Group 65.png"> --></div> 
  <div class="poind4"><mat-card class="mad4"><p class="m2020" >Continuing to evolve, broadened our service offerings to include essential areas such as AI & Accessible services.</p></mat-card>2021<!--<img src="../assets/Group 65.png">--> </div> 
  <div class="poind5"><mat-card class="mad5"><p class="m2023" >
   Excited to announce our transformation from RS Infosolution to Sigma4Solution a registered private limited company. 
   </p> </mat-card>2023 <!--<img src="../assets/Group 65.png">--></div> 
     <div id="prblm3"><br>  <br>  <br>  <br> <br><br><br><br> <br> <br>
     </div>
</div>
  <br>  <br> <br> <br>  <br>   <br> <br>  <br>  <br>  <br>  <br> <br><br><br><br> <br> <br>
  
    <h1 class="ourtm2">Our Team</h1>
    <br><br><br><br><br><br><br>
    <div class="container1 ">
        <div class="row">
          <div class="col-md-4 mkh"><img class="img1" src="../assets/stevejobs.1419962539.jpg"> <h1 class="name">SteveJobs </h1> <p class="desi">ceo</p>  </div> &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-md-4 mkh"> <img class="img1" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">Lorem Ipsum dolor
            dit amet </div>  &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-4 mkh"><img class="img1" src="../assets/shubham-dhage-DuVeft7JZdU-unsplash 1.jpg">Lorem Ipsum dolor
            dit amet </div> 
       </div>
    </div>
  
  <div class="des4"></div>
   

    <div class="teamname">
    <div class="mkh5 ">     
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img1" src="../assets/stevejobs.1419962539.jpg"> <h1 class="name">SteveJobs </h1> <p class="desi">ceo</p> 
          </div>
          <div class="carousel-item">
            <img class="img1" src="../assets/stevejobs.1419962539.jpg"> <h1 class="name">SteveJobs </h1> <p class="desi">ceo</p> 
          </div>
          <div class="carousel-item">
            <img class="img1" src="../assets/stevejobs.1419962539.jpg"> <h1 class="name">SteveJobs </h1> <p class="desi">ceo</p> 
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
    </div>
<br><br><br><br><br><br><br><br><br><br>
</div>
